/* ========== Variables ========== */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
}
/* ========== /Variables ========== */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: var(--white);
  color: var(--slate);
  margin: 0;
  /* padding-top: 72px; */
}

.hidden {
  display: none;
}

ul,
ol {
  list-style-type: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* ========== Typography =========== */

.text-h1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.text-h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.text-h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0;
}

.text-body {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.text-body-md {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.text-button {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.text-small {
}

.text-link {
}

/* ========== /Typography ========== */

/* ========== Header ========== */
header {
  display: flex;
  width: 1440px;
  height: 72px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: fixed;
}
.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--iris);
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo__web {
  color: var(--iris);
}
.logo__studio {
  color: var(--navy-blue);
}
.logo__studio--footer {
  color: var(--cloud);
}
.site-menu {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.site-menu li {
  list-style: none;
}
.site-menu__link {
  color: var(--navyblue);
  text-decoration: none;
}
.site-menu__link:hover,
.site-menu__link:focus {
  color: var(--ocean);
}
.site-address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-link {
  color: var(--navyblue);
  text-decoration: none;
  font-style: normal;
}
.address-link--mail {
  color: var(--slate);
}
.address-link--mail:hover,
.address-link--mail:focus {
  color: var(--ocean);
}

/* ========== /Header ========== */

/* ========== Footer ========== */
.page-footer {
  background-color: var(--navy-blue);
}
.page-footer .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);

}
/* ========== /Footer ========== */

/* ========== Main page ========== */
/* ========== Styles for main page ========== */
.main-section {
  background-color: var(--navy-blue);

}
.main-section-hero {
  
}
.order-service {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.order-service:hover,
.order-service:focus {
  background-color: #404BBF;
  cursor: pointer;
}
/* .main-section-heading {
  color: var(--navy-blue);
} */
.feature__heading {

}
.feature__text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/* ========== Portfolio page ========== */
/* ========== Filters ========== */
.tag-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
}
.tag-list__item {
}
.tag-list-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  display: flex;
  padding: 12px 24px;
  align-items: flex-start;
  border-radius: 4px;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background-color: var(--cloud);
}
.tag-list-button:hover,
.tag-list-button:focus {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #404bbf;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* ========== /Filters ========== */

/* ========== Projects ========== */
.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.project-card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-decoration: none;
}
.project-card__heading {
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}
.project-card__tag {
  margin: 0;
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}